div {
	
	border: 1px solid red;
}
			
			#ch1 {
				height: 100px;
				width: 100px;
				border: 1px solid green;
				margin: 10px auto;
			}
			#ch2 {
				height: 100px;
				width: 200px;
				border: 1px solid green;
				margin: 10px auto;
			}
			#ch3 {
				height: 100px;
				width: 300px;
				border: 1px solid green;
				margin: 10px auto;
			}